body {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: #545454;
    margin: 0 auto;
}
p, 
h1,
h2,
h3,
h4, 
li,
ul ,
body {
    margin: 0;
    padding: 0; 
}
*,
*:before,
*:after {
        box-sizing: border-box;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
/* 1  блок*/
.header {
    background: url('../assets/img/start-screen-puppy.png') 96%100%/698px 728px no-repeat, url('../assets/img/header-background.jpg') center no-repeat;
    margin-bottom: 80px;
}
.container_header {
    max-width: 1280px;
    margin: 0 auto; 
}
.container  {
    max-width: 1280px;
    background-color: #FFFFFF;
}
.header_inner {
    padding: 60px 40px 225px 40px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
h2 {
    font-family: Georgia;
    font-size: 32px;
    letter-spacing: 1.8px;
    color: #F1CDB3;
    font-weight: 400; 
    font-style: normal;
    font-weight: normal;
    line-height: 105%;
}
.header_logo p {
    font-family: Arial;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.3px;
    padding-top: 10px;
    color: #FFFFFF;
    padding-left: 4px;

}
    /*навигация*/
.nav_list{
    margin-left: auto;
    display: flex;
    list-style-type: none;
    gap: 35px;
}
.nav_link {
    text-decoration: none;
    color: #CDCDCD;
    transition: color .2s linear;
    font-family: 'Arial';
    font-size: 15px;
    line-height: 24px;
}
.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #F1CDB3;
}
.nav_link:hover {
    color: #FAFAFA;
}
.nav_link:hover:after {
    display: block;
}
.main_title {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    flex-direction: column;
    
}
h1 {
    width: 310px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 130%;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 42px;
    margin-top: 0px
}
.main_title p {
    line-height: 24px;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    color: #CDCDCD;
    margin-bottom: 41px;
    width: 460px;
}
.hi_btn {
    font-family: Georgia;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 1px;
    color: #292929;
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    text-decoration: none;
    padding: 15px 45px;
    margin-bottom: 242px;
}
/*2-блок*/
.container_about {
    max-width: 1200px;
    width: 1280px;
    margin: 0px auto;
    height: 588px;
   
}
.about {
    display: flex;
    justify-content: center;
    gap: 120px;
    background: #FFFFFF;
    margin-bottom: 100px;
}
.about_text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 430px;
}
.about_title {
    font-family: Georgia;
    font-size: 35px;
    line-height: 45px;
    /* width: 370px; */
    letter-spacing: 2px;
    padding-top: 16px;
    /* padding-left: 20px; */
}
.about_img {
    height: 409px;

}
.about_text p {
    font-family: Arial;
    font-size: 15px;
    line-height: 24px;
    /* width: 430px; */
    /* padding-left: 20px; */
}
    /*3 блок*/
.container_search {
    max-width: 1280px;
    margin: 0px auto;
    background: #F6F6F6;
    font-family: Georgia;
    letter-spacing: 1px;
}
/* -----SEARCH----- */
.pets {
    background: #F6F6F6;
    padding-bottom: 100px;
}
.title {
    font-family: Georgia;
    font-size: 35px;
    line-height: 45px;
    width: 420px;
    text-align: center;
    letter-spacing: 0.06em;
    padding-top: 14px;
    margin: 0 auto;
        padding: 80px 0 59px 2px;
}
.slider_cards {
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    
}
.only_cards::before,
.only_cards::after {
    content: "";
    /* background: url('../assets/img/button_arrow.png') center no-repeat; */
    border: 2px solid  #F1CDB3;
    border-radius: 50px;
    height: 52px;
    width: 52px;
    flex: none;
    position: relative;
  
}
.only_cards::before{
    background: url('../assets/img/button_arrow.png') center no-repeat;
    transform: translateY(370%);
    right: -40px;
}
.only_cards::after{
    background: url('../assets/img/button_arrowLeft.png') center no-repeat;
    transform: translateY(370%);
    right: 40px;
} 
.only_cards{
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 91px;
    margin-bottom: 65px;
}
.card {
    background: #FAFAFA;
    border-radius: 9px;
}
.card_img {
    margin-bottom: 25px;
}
.card p{
    
    margin-bottom: 30px;
}
.trans_btn{
    color: #292929;
    width: 185px;
    height: 51px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
    letter-spacing: -0.5px;

}
.btn {
    color: #292929;
    width: 260px;
    height: 50px;
    background: #F1CDB3;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
}


.search_slider {
    display: flex;  
    padding-left: 30px; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 95px;
}
.arrow_left::before{
    content: "";
    background: url('../assets/img/button_arrow.png') center no-repeat;
    border: 2px solid  #F1CDB3;
    border-radius: 50px;
    height: 52px;
    width: 52px;
    flex: none;
    position: relative;
    top: 54%;
    transform: translateY(-50%);
    right: 52px;
}
.arrow_right::after {
    content: "";
    background: url('../assets/img/button_arrowLeft.png') center no-repeat;
    border: 2px solid  #F1CDB3;
    border-radius: 50px;
    height: 52px;
    width: 52px;
    flex: none;
    position: relative;
    top: 54%;
    transform: translateY(-50%);
    left: 52px; 
}
} */

    /* 4 блок*/

.help_shelter {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 43px;
}
.title_shelter {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    width: 400px;
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0 auto;
    padding: 80px 0 60px 0;
}
.help_icons {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    /* margin: 0 -60px; */
}
.help_icon{
    padding: 0 60px;
    margin-bottom: 57px;
    flex: 0 1 auto;
}
.icons {
    width: 65px;
    height: 65px;
    margin: 0 auto;
}
.help_icon p{
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding-top: 24px;
    letter-spacing: 0.06em;
}
.food {
    background: url('../assets/svg/vector.svg') center no-repeat;
}
.transporation {
    background: url('../assets/svg/icon-transportation.svg') center no-repeat;
}
.toys {
    background: url('../assets/svg/icon-toys.svg') center no-repeat;
}
.bowls {
    background: url('../assets/svg/icon-bowls-and-cups.svg') center no-repeat;
}
.shampoos {
    background: url('../assets/svg/icon-shampoos.svg') center no-repeat;
}
.vitamins {
    background: url('../assets/svg/icon-vitamins.svg') center no-repeat;   
}
.medicines {
    background: url('../assets/svg/icon-medicines.svg') center no-repeat;
}
.collars {
    background: url('../assets/svg/icon-collars-leashes.svg') center no-repeat;
}
.sleep {
    background: url('../assets/svg/icon-sleeping-area.svg') center no-repeat;
}
    
    /* 5 блок */
.donation {
    margin: 0 auto;
    font-family: Georgia;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 100px;
    letter-spacing: 1px;
    background: #F6F6F6;
} 
.donat_img {
}
.donat_body {
    margin-top: 79px;
    width: 380px;
}
.donat_title{
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2px;
    color: #545454;
    width: 300px;
    margin-bottom: 20px;
}
.bank_name{
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 20px;
    letter-spacing: 0.06em;
}
.credit {
    background-color: #F1CDB3;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 349px;
    height: 43px;
    margin-bottom: 20px;
}
.credit p{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.06em;
    padding: 0;
}
.credit_img {
    background: url('../assets/svg/credit-card.svg') left no-repeat;
    width: 30px;
    height: 23px;
    margin: 10px 15px;
}
.bank_ps{ 
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.06em;
    color: #B2B2B2;
    /* width: 380px; */
    height: 72px;
}
    /* 5 блок */
.footer {
    margin: 0 auto;
    max-width: 1280px;
    background: url('../assets/img/footer-puppy.png') 98%90% no-repeat, url('../assets/img/footer-gradient-background.jpg')  no-repeat;
  
}
.content_footer {
    display: flex;
    font-family: Georgia;
    padding-left: 40px;
    padding-top: 56px;
}
.contact { 
    margin-right: 160px;
    width: 279px;
}
.footer_title {
    font-size: 35px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 40px;
    letter-spacing: 0.06em;
}
.date {
    font-size: 20px;
    line-height: 23px;
    color: #F1CDB3;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}
.img_email {
    background: url('../assets/svg/mail.svg') center no-repeat;
    width: 40px;
    height: 26px;
    margin-right: 20px;
}
.img_phone {
    background: url('../assets/svg/phone.svg') center no-repeat;
    width: 40px;
    height: 32px;
    margin-right: 20px;
}
.date p{
    letter-spacing: 0.06em;
}
.adress{
    width: 303px;
}
.img_location {
    background: url('../assets/svg/pin.svg') center no-repeat;
    width: 22px;
    height: 32px;
    margin-right: 20px;
    flex: none;
}
    