.inner {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: #545454;
    max-width: 1280px;
    margin: 0 auto;
}
p, 
h1,
h2,
h3,
h4, 
li,
ul ,
body {
    margin: 0;
    padding: 0; 
}
*,
*:before,
*:after {
        box-sizing: border-box;
        scroll-behavior: smooth;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
.container  {
    max-width: 1280px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 100px;
}
/* 1  блок*/
.container_header {
    background: url('../assets/img/header-background.jpg') center no-repeat;
    margin: auto;
    
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}
.header_inner {
    padding-top: 60px; 
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2 {
    font-family: Georgia;
    font-size: 32px;
    letter-spacing: 1.8px;
    color: #F1CDB3;
    font-weight: 400; 
    font-style: normal;
    font-weight: normal;
    line-height: 35px;
    cursor: pointer;
}
.header_logo p {
    font-family: Arial;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.3px;
    padding-top: 10px;
    color: #FFFFFF;
    padding-left: 4px;

}
    /*навигация*/
.nav_list{
    margin-left: auto;
    display: flex;
    list-style-type: none;
    gap: 35px;
    
}
.nav_link {
    text-decoration: none;
    color: #CDCDCD;
    transition: color .2s linear;
}

.nav_link:hover {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3; 
    padding-bottom: 2px; 

}
.nav_link:hover:after {
    display: block;
}
.main_title {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    flex-direction: column;
    
}
h1 {
    width: 310px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 58px;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 39px;
    margin-top: 0px
}
.start_screen{
    display: flex;
    max-width: 1200px;
    margin: auto;
}
.start_text{
    padding-top: 163px;
    padding-bottom: 256px;
}
.start_text p {
    line-height: 24px;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    color: #CDCDCD;
    margin-bottom: 59px;
    width: 460px;
}
.hi_btn {
    font-family: 'Georgia';
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    text-decoration: none;
    padding: 15px 45px;
    margin-bottom: 242px;
    cursor: pointer;
    transition: 0.3s;
}
.hi_btn a{
    font-family: Georgia;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #292929;
    text-decoration: none;
}
.hi_btn:hover,
.btn:hover,
.btn_slider:hover {
    background-color: #FDDCC4;
    border: none;
}
.start_img{
    background: url(../assets/img/start-screen-puppy.png) 100%/100% no-repeat;
    width: 100%;
    background-size: contain;
}
/*2-блок*/
.about {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 80px;
    gap: 120px;
}
.about_text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 430px;
}
.about_title {
    font-family: Georgia;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2px;
    padding-top: 16px;
}
.about_img {
    height: 409px;

}
.about_text p {
    font-family: Arial;
    font-size: 15px;
    line-height: 24px;
}
    /*3 блок*/
.container_search {
    max-width: 1280px;
    margin: 0px auto;
    background: #F6F6F6;
    font-family: Georgia;
    letter-spacing: 1px;
}
/* -----SEARCH----- */
.background{
    background: #F6F6F6;

}
.pets {
    background: #F6F6F6;
    /* padding-bottom: 100px; */
    margin: 0 auto;
    max-width: 1200px;
}
.title {
    font-family: Georgia;
    font-size: 35px;
    line-height: 45px;
    width: 420px;
    text-align: center;
    letter-spacing: 0.06em;
    padding-top: 14px;
    margin: 0 auto;
    padding: 80px 0 59px 2px;
}


.slider_cards {
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    position: relative;
}
.arrow_left, 
.arrow_right {
    content: "";
    border: 2px solid  #F1CDB3;
    border-radius: 50px;
    height: 52px;
    width: 52px;
    flex: none;
    position: absolute;
    transition: 0.2s;

}
.arrow_left{
    background: url('../assets/svg/Arrow_right.svg') center no-repeat;
    transform: translateY(370%);
    left: 0px;
}
.arrow_right{
    background: url('../assets/svg/Arrow_left.svg') center no-repeat;
    transform: translateY(370%);
    right: 0px;
} 
.arrow_left:hover{
    background: #FDDCC4 url('../assets/svg/Arrow_right.svg') center no-repeat;
    border: none;
}
.arrow_right:hover{
    background: #FDDCC4 url('../assets/svg/Arrow_left.svg') center no-repeat;
    border: none;
}
.only_cards{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 91px;
    margin-bottom: 63px;
}
.card {
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.2s;
}
.card_img {
    margin-bottom: 25px;
}
.card p{
    
    margin-bottom: 30px;
}
.btn_slider{
    color: #292929;
    width: 185px;
    height: 51px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
    letter-spacing: -0.5px;
    cursor: pointer;

}
.btn a{
    color: #292929;
    width: 260px;
    height: 50px;
    background: #F1CDB3;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    text-decoration: none;
    padding-top: 15px;
}


.search_slider {
    display: flex;  
    padding-left: 30px; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 95px;
}
    /* 4 блок*/
.help_shelter { 
    margin: 0 auto;
    max-width: 1200px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 45px; */
    transition: 0.2s;
    
}
.title_shelter {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    width: 400px;
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0 auto;
    padding: 80px 0 60px 0;
}
.help_icons {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    /* margin: 0 -60px; */
}
.help_icon{
    padding: 0 60px;
    margin-bottom: 57px;
    flex: 0 1 auto;
}
.icons {
    width: 65px;
    height: 65px;
    margin: 0 auto;
}
.help_icon p{
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding-top: 24px;
    letter-spacing: 0.06em;
}
.food {
    background: url('../assets/svg/vector.svg') center no-repeat;
}
.transporation {
    background: url('../assets/svg/icon-transportation.svg') center no-repeat;
}
.toys {
    background: url('../assets/svg/icon-toys.svg') center no-repeat;
}
.bowls {
    background: url('../assets/svg/icon-bowls-and-cups.svg') center no-repeat;
}
.shampoos {
    background: url('../assets/svg/icon-shampoos.svg') center no-repeat;
}
.vitamins {
    background: url('../assets/svg/icon-vitamins.svg') center no-repeat;   
}
.medicines {
    background: url('../assets/svg/icon-medicines.svg') center no-repeat;
}
.collars {
    background: url('../assets/svg/icon-collars-leashes.svg') center no-repeat;
}
.sleep {
    background: url('../assets/svg/icon-sleeping-area.svg') center no-repeat;
}
    
    /* 5 блок */
.donation {
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Georgia';
    margin-top: -55px;
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 915px;
    padding-top: 80px;
} 
.donat_body {
    width: 380px;
}
.donat_title{
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2px;
    color: #545454;
    width: 300px;
    margin-bottom: 20px;
}
.bank_name{
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 20px;
    letter-spacing: 0.06em;
}
.credit {
    background-color: #F1CDB3;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 349px;
    height: 43px;
    margin-bottom: 20px;
    cursor: pointer;
}
.credit a{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.06em;
    padding: 0;
    text-decoration: none;
    color: #545454;
}
.credit_img {
    background: url('../assets/svg/credit-card.svg') left no-repeat;
    width: 30px;
    height: 23px;
    margin: 10px 15px;
}
.bank_ps{ 
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.06em;
    color: #B2B2B2;
    height: 72px;
    max-width: 410px;
}
    /* 5 блок */
.footer{
    background: url('../assets/img/footer-gradient-background.jpg')  no-repeat;
}
.footer_inner{
    display: flex;
    font-family: 'Georgia';
    padding-top: 35px;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 36px;
    padding-bottom: 60px;
}
.contact { 
    padding-top: 20px;
    padding-right: 40px;
}
.footer_title {
    font-size: 35px;
    line-height: 45px;
    color: #FFFFFF;
    letter-spacing: 0.06em;
}
.date {
    font-size: 20px;
    line-height: 23px;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    margin-top: 40px;

}
.date_loc{
    font-size: 20px;
    line-height: 23px;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.date_loc a{
    font-size: 20px;
    line-height: 23px;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    text-decoration: none;
}
.img_email {
    background: url('../assets/svg/mail.svg') center no-repeat;
    width: 40px;
    height: 26px;
    margin-right: 20px;
}
.img_phone {
    background: url('../assets/svg/phone.svg') center no-repeat;
    width: 40px;
    height: 32px;
    margin-right: 20px;
}
.date a{
    letter-spacing: 0.06em;
    text-decoration: none;
    color: #F1CDB3;
}
.location{
    padding-top: 20px;
    width: 340px;
}
.img_location {
    background: url('../assets/svg/pin.svg') center no-repeat;
    width: 22px;
    height: 32px;
    margin-right: 20px;
    flex: none;
}
.footer_img{
    background: url(../assets/svg/footer-puppy.svg) no-repeat;
    width: 300px;
    background-size: cover;
}
@media (max-width: 1280px){
    .footer_title{
        font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1280 - 320)));
    }
}
    